$portrait: 414px;


.transition-wrapper {
  position: relative;
  z-index: 1;
  .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
}

.transition-item {
  overflow: auto;
  height: 100vh;
  background-color: #03a9f4;
  transition: opacity 1s;

  &.transition-appear {
    opacity: 0;
  }

  &.transition-appear.transition-appear-active {
    opacity: 1;
  }
  &.transition-leave {
    opacity: 1;
  }

  &.transition-leave.transition-leave-active {
    opacity: 0;
  }
}

#home .choice {
	transition: color 200ms, width 750ms, height 750ms;

	@media (min-width: $portrait+1) {
		&.stretched {
			width: 100%;
		}

		&.ignored {
			width: 0%;
		}
	}

	@media (max-width: $portrait) {
		&.stretched {
			height: 100%;
		}

		&.ignored {
			height: 0%;
		}
	}
}
