#home {
	display: flex;
	width: 100%;
	min-height: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	position: relative;

	.choice {
		height: 100%;
		display: flex;
		text-align: center;
		width: 100%;
		position: relative;
		transition: 200ms;

		&:first-of-type {
			background: #e4edf5;
			&:hover {
				a {
					color: #145ab9;
				}
			}
		}
		&:nth-of-type(2) {
			background: #145ab9;
			&:hover {
				a {
					color: #e4edf5;
				}
			}
		}

		a {
			transition: 150ms;
			width: 100%;
			font-weight: 500;
			font-size: 60px;
			font-size: 5vw;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #141414;
		}

	}
}
