$off-white: #e4edf5;
$blue: #145ab9;
$yellow: #fcae2f;

$portrait: 414px;

#contact {
	height: 100%;
	width: 100%;
	background-image: url('../../images/modelboy.jpg');
	background-position: center;
	background-size: cover;

	display: flex;
	width: 100%;
	min-height: 100%;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	#back {
		color: rgb(235, 79, 134);

		@media (min-width: 768px) {
			&:hover {
				color: $yellow;
			}
		}
	}

	#info {
		width: 100%;

		#info-container {
			position: absolute;
			display: flex;
			justify-content: space-between;
			width: 100%;
			transition: 1600ms opacity, 800ms bottom;
			min-height: 180px;

			@media (max-width: 767px) {
				flex-direction: column;

				.grid {
					width: 100%;
					margin-left: 0;
					border: none;
				}
			}

			bottom: -400px;
			opacity: 0;

			&.showing {
				bottom: 0;
				opacity: 1;
			}

			div, a {
				border-left: 1px solid rgba(255,255,255, 0.5);
				transition: 200ms;

				&:first-child {
					border: none;
				}
			}

			@media (min-width: 768px) {
				a:hover {
					padding-left: .8%;
					border-color: $yellow;
					h2 {
						transition: 200ms;
						color: $yellow;
					}
				}
			}

			@media (max-width: 767px) {
				@for $i from 2 through 4 {
					.grid:nth-child(#{$i}) {
						background-color: rgba(10, 10, 10, $i*$i/16);
					}
				}
			}

			h1 {
				color: white;
				font-weight: normal;
				letter-spacing: -2px;
				font-size: 50px;
				margin-top: 0px;
				margin-bottom: 5px;
			}

			h2 {
				font-weight: normal;
				color: white;
				font-size: 20px;
				font-family: 'Medio', 'Baskerville', serif;
				font-weight: 0;
				padding-bottom: 18px;
				margin-top: 10px;
				letter-spacing: -.5px;

				@media (max-width: 1300px) and (min-width: 1041px) {
					font-size: 16px;
				}
				@media (max-width: 1040px) and (min-width: 916px) {
					font-size: 14px;
				}

				@media (max-width: 915px) and (min-width: 700px) {
					font-size: 11.5px;
				}
			}


		}
	}
}
